html{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);}
h1{
text-align: center;
font-size: 60px;
}

body{
    height:100vh;
    margin:0;
}

/* footer styles */
#word{
    background-color:#FEF1EB;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: cornsilk;
    padding: 0px 0px 20px 0px;
    width: 100%;
}
#table{
    
    display: table;
    margin: 0 auto;
}

ul#horizontalList{
    list-style: none;
    
} 
ul#horizontalList li{
    
    display: inline;
    margin: 10px 100px 100px 10px;
}
