
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
html{
     text-shadow: 1.5px 1.5px hsl(0, 0%, 0%);
    background-image: url("sport3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Odibee Sans';
    
   
}
div#row{
    background-color:grey;
    width:100%;
    height: 65px;
}
article{
    text-align: center;
}
form{
    text-align: center;
}
h2{
    height: 40px;
    text-align: center;
    font-size: 100px;
    color:#da5b2d
  
}
picture {
    width:100%;
    opacity: 0.5;
}

p{
    font-size:2em; 
    color:#da5b2d;
}
label{
    font-size:1.2em;
  color:#da5b2d;
}
 form{
     size: 100px;
 }
 button#submit{
     height: 30px;
     width: 120px;
     border-radius: 10px;
     background-color:#82fdb3;
     border-color:#82fdb3;
     margin-left:15px;
 }
 button:hover {
   background-color:#41a146;
 }
 