html{
    background: rgb(20,56,198);
    background: linear-gradient(90deg, rgba(20,56,198,1) 0%, rgba(121,9,117,1) 53%, rgba(55,120,230,1) 100%);
}
h1{
    color: white;
}
article {
    display: block;
    color: white;
}
P{
    font-size: 30px;
    text-align: center;
}